body, html {
	height: 100%;
}

div.container {
	min-height: 100%;
	height: auto;
	position: relative;
	width: 100%;
	margin: 0; padding: 0;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: green;
    background-color: black;
    clear: left;
    text-align: center;
}

footer {
    color: green;
    background-color: black;
    clear: left;
    text-align: center;
	margin-top: -35px;
	height: 35px;
	width: auto;
}

#main{
    background: white;
    width: auto;
    padding-bottom: 35px;
}

nav {
    float: left;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}


#dic_doc {
	text-align: left;
}

table {
	margin-top: 10px;
    border: 1px solid black;
	width: 100%;
    border-collapse: collapse;
}

td {
	border:1px solid gray;
	/*vertical-align: center;*/
	padding: 12px;
}

/*
table#t01 th {
    background-color: black;
    color: white;
}
*/

.codigo-hover:hover {
	/*
	color:#fff!important;
	background-color:#4CAF50!important;
   */
	font-weight:bold!important;
	cursor:pointer!important;
}

.codigo {
	border:1px solid gray;
	/*vertical-align:center;*/
	text-align: center;
	width:50px;
}

.menu-left {
	float:left;
	width:20%;
}

.main-table {
	float:left;
	width:70%;
}

.table_grade {
	border:1px solid gray;
	border-collapse:collapse;
	font-family:Trebuchet MS, Verdana, Arial, Sans-serif;
}

.titulos_table {
	border:1px solid gray;
	background-color:#e9ddaf;
	text-align:center;
	/*vertical-align:center;*/
	font-weight:bolder;
	color:#000020;
}

.table_opt {
	clear:left;
	padding:10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.Aprovado {
	background:green;
}

.Reprovado {
	background:red;
}

.Equivale {
	background:yellow;
}
