body, html {
	height: 100%;
}

div.container {
	min-height: 100%;
	height: auto;
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0; padding: 0;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: green;
    background-color: black;
    clear: left;
    text-align: center;
}

footer {
    color: green;
    background-color: black;
    clear: left;
    text-align: center;
	margin-top: -35px;
	height: 35px;
	width: auto;
}

#main{
    background: white;
    width: auto;
    padding-bottom: 35px;
}

nav {
    float: left;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

#dic_doc {
	text-align: left;
}

table {
	margin-top: 10px;
    border: 1px solid black;
	width: 100%;
    border-collapse: collapse;
}

td {
	border: 1px solid black;
}

/*
table#t01 th {
    background-color: black;
    color: white;
}
*/

.w3-hover-green:hover {
	color:#fff!important;
	background-color:#4CAF50!important;
}
